@model Product 
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Please Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input type="file" class="form-control" asp-for="Image" rows="3"></input>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Stock" class="form-label"></label>
                <input class="form-control" asp-for="Stock" rows="3"></input>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input class="form-control" asp-for="Price" rows="3"></input>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="fomr-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHome" /> @Html.DisplayNameFor(x => x.IsHome)
                </label>
            </div>
            <div class="fomr-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(x => x.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


