@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="container py-2">
        <h1>E-Ticaret Sitesi Demo</h1>
        <p class="col-md8 fs-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
</header>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @Html.Partial("_ProductList",Model)
</div>